
.modal-content(ng-if="operation")
        .modal-header.bg-default
          h4.modal-title
          span.text-danger(ng-if="operation == 'delete'")Do you want to delete the selected files?
          span(ng-if="operation == 'assign'")Assign the category to the selected files
        .modal-body
          div(ng-if=" operation == 'assign'")
            h5 Select Labels to be assigned
            .row.col-sm-3
                div(ng-if="!assetConfig.allAssets",ng-dropdown-multiselect="",
                    options="nbDropdown.label.Label.labels",
                    selected-model="nbDropdown.label.selectedLabels",
                    events="nbDropdown.label.events",
                    translation-texts="nbDropdown.label.customTexts",
                    extra-settings="nbDropdown.label.extraSettings",
                    checkboxes="true")
          .row
            .col-sm-12
              p.text-info.pull-right(ng-if="filtered.msg",ng-bind="filtered.msg")
            .col-sm-12
              .btn-toolbar.pull-right
                button.btn.btn-default(ng-click="closeModal()",ng-hide="filtered.msg")Cancel
                button.btn.btn-primary(ng-click="proceed()",ng-hide="filtered.msg")Proceed
                button.btn.btn-primary(ng-click="bulkModal.close()",ng-show="filtered.msg")OK
        .modal-body
          h5 Selected files
          .row
            .col-sm-6(ng-repeat="file in bulkSelectedFiles")
            small.text-muted {{file | truncate:40}}
         .modal-content(ng-if="!operation")
        .modal-header.bg-default
          h4.modal-title Please select at least 1 file
            button.btn-xs.btn-link.fa.fa-close.pull-right(ng-click="bulkModal.close()")